/* write your override styles here */
#wall .tag-1{
  display: none;
}
body #wall #tag-2{
  display: none;
}
#wall #tag-3.slick.wicked{
  display: none;
}
#wall #tag-4{
  display: none;
}
#wall .parent{
  display: none;
}
#wall #slick{
  display: none;
}
div[id="tag-7"]{
  display: none;
}
