/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall .tag-1 + #tag-2 {
  display: none;
}

#wall #tag-3.slick.wicked {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

#wall .parent #tag-5.slick:first-child {
  display: none;
}

div#wall div.parent:nth-child(6) div:last-child div#tag-6 {
  display: none;
}

div#wall div.parent:last-child div:first-child div.slick#tag-7 {
  display: none;
}
